.exemplo-pixel {
    font-size: 30px;
    width: 300px;
    background-color: aqua;
}

.exemplo-porcentagem {
    width: 50%;
    background-color: crimson;
}

#elemento-pai {
    width: 500px;
    font-size: 40px;
    border: 5px solid black;
}